body {
  max-width: 375px;
  margin: auto;
  background: #ffff3c;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
}

.section-intro,
footer {
  background: black;
  color: #ffff3c;
}

.section-info {
  background: white;
}

.cta {
  text-align: center;
  color: black;
  background: #ff00ff;
  font-size: 21px;
  padding: 10px 0 10px 0;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

nav .cta {
  margin-top: 5px;
}


h1, .section-intro h2 {
  font-family: 'Cherry Bomb One', cursive;
}

h1 {
  text-align: center;
}

h1, h2 {
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

div {
  padding: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  color: #ff00ff;
}

main div {
  margin-top: 5px;
}